<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en-GB" culture="en-GB" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <customErrors mode="On" defaultRedirect="SignIn.aspx">
    </customErrors>
    <sessionState mode="InProc" cookieless="false" timeout="80"/>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=medicdata.com.ng.om;Initial Catalog=asanni2_MEDICDATA;User ID=asanni2_medicdata;Password=medicdata;" />
    </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <!--Send Email from-->
    <add key="Gid" value="youremail@gmail.com"/>
    <add key="Gpass" value="yourpassword"/>
    <add key ="Port" value ="587"/>
    <add key ="Host" value ="smtp.gmail.com"/>
    <add key ="EnableSsl" value ="true"/>
    
    
    <add key="EmailTo" value="toemail@gmail.com"/>
    <add key="EmailTitle" value="REQUEST FOR MEDICDATA DEMO"/>
    <add key="DomainName" value="http://medicdata.com.ng/"/>
    <add key="sitekey" value="6LcmSEgaAAAAAFOrg5yqDLg5zFVGDFepkNH-phjw"/>
    <add key="secretkey" value="6LcmSEgaAAAAABgFKzTXmkKQcenNi69bkZJCY18x"/>
  </appSettings>
</configuration>
